PORT=4000
ADMIN_USER=admin
ADMIN_PASS=dahab123

# Cloudinary — اعمل حساب مجاني على cloudinary.com وحط بياناتك هنا
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
